<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="optimization" type="Optimization.Configuration.OptimizationConfigSection, Optimization.Framework" />
  </configSections>
  
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Optimization.Framework" publicKeyToken="41b74c8b864fd6b1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.3.1282.0" newVersion="0.3.1282.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<optimization xmlns="com.optimizationzen.optimization.framework">
    <solvers>
      <solver name="GLPK" path="..\..\..\Reference Assemblies\GLPK\x86" />
    </solvers>
  </optimization></configuration>